<h2>Coding</h2>

<%= @error %>

<%=
if !@report.nil? then
  case @report.root.attributes['version']
  when "1.4.4"
    render(:partial => "checkstyle_1_4_4.erb", :locals => { :report => @report } )
  else
    "Don't know how to output checkstyle report version #{@report.root.attributes['version']}"
  end
end
%>